header {
    text-align: center;
    color: rgb(247, 241, 241);
}

.main_body {
    height: 100%;
    background-image: url(images/1-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main_menu {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}

.contacts_body {
    height: 100%;
    background-image: url(images/welding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contacts_content {
    height: 100%;
}

.page_name_contacts {
    text-align: center;
    font-size: 150%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #f7f7f8;
}

table {
    width: auto;
    margin: auto;
    border-spacing: 1px;
    font-size: 130%;
}

td,
th {
    text-align: center;
    width: auto;
    height: auto;
    color: white;
    padding: 3px;
}

.form_body {
    background-image: url(images/welding.jpg);
    background-size: 100%;
}

.back_button {
    position: relative;
    left: 0;
    bottom: auto;
}

.page_name_send {
    text-align: left;
    font-size: 150%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #f7f7f8;
}

.form {
    color: ivory;
}

.send_content {
    text-align: center;
    font-size: 150%;
    line-height: 1.25%;
    color: black;
}

* {
    box-sizing: border-box;
}

.catalog_body {
    background-image: url(images/tig_welding.jpg);
    background-size: 100%;
}

.page_name_catalog {
    text-align: center;
    font-size: 150%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #f7f7f8;
}

.product-item {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #F5F5F5;
    background: rgb(252, 249, 249);
    font-family: "Open Sans";
    transition: .3s ease-in;
}

.product-item:hover {
    border-bottom: 2px solid #fc5a5a;
}

a .product-item img {
    display: block;
    width: 100%;
}

.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #f8f6f6;
    margin: 0 0 10px 0;
}

.price {
    font-size: 16px;
    color: black;
    display: block;
    margin-bottom: 12px;
}

a {
    color: white;
}

.faq_item_title_inner {
    text-align: center;
}

.faq_list {
    display: block;
    clear: both;
    font-size: 20px;
    line-height: 25px;
    color: #fcf9f9;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 5px 9px 10px;
    height: 1%;
}

details {
    text-align: center;
    font-size: 70%;
}

.product-item:hover .button {
    background: #fc5a5a;
}

.bascket_button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}

.footer_send {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
}

footer {
    position: fixed;
    color: rgb(248, 245, 245);
    bottom: 0;
    width: 100%;
}